:root {
	--primary-crl--orange: hsl(31, 77%, 52%);
	--primary-crl--cyan: hsl(184, 100%, 22%);
	--primary-crl--dark-cyan: hsl(179, 100%, 13%);

	--neutral-crl--white: hsla(0, 0%, 100%, 0.75);
	--neutral-crl--light-gray: hsl(0, 0%, 95%);

	--ff-primary: 'Lexend Deca', sans-serif;
	--ff-secondary: 'Big Shoulders Display', cursive;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

body {
	font-size: 15px;
	background-color: var(--neutral-crl--light-gray);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container {
	padding-top: 7%;
	margin: 0 auto;
}

.card__1 {
	background-color: var(--primary-crl--orange);
	border-radius: 10px 10px 0 0;
}

.card__2 {
	background-color: var(--primary-crl--cyan);
}

.card__3 {
	background-color: var(--primary-crl--dark-cyan);
	border-radius: 0 0 10px 10px;
}

.card__header {
	color: var(--neutral-crl--light-gray);
	font-size: 2.6em;
	font-family: var(--ff-secondary);
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 15% 10%;
}

.card__paragraph {
	color: var(--neutral-crl--white);
	line-height: 1.6;
	font-family: var(--ff-primary);
	font-weight: 400;
	margin: 0 9% 7% 15%;
}

.card {
	width: 100%;
	max-width: 310px;
	display: flex;
	flex-direction: column;
}

.card__img {
	width: 19%;
	margin: 14% 15% 7%;
}

/* Button */

.btn {
	background-color: var(--neutral-crl--light-gray);
	display: inline-block;
	width: 40%;
	text-decoration: none;
	text-align: center;
	padding: 1em 0.5em;
	border-radius: 100px;
	margin: auto 0 15% 15%;
}

.sedan__btn {
	color: var(--primary-crl--orange);
}

.suv__btn {
	color: var(--primary-crl--cyan);
}

.luxury__btn {
	color: var(--primary-crl--dark-cyan);
}

.btn:hover,
.btn:focus {
	background-color: transparent;
	border: 2px solid #fff;
	color: var(--neutral-crl--light-gray);
	transition: background-color 400ms ease-in-out;
}

/* Attribution */

.attribution {
	font-size: 0.7333333333333333rem;
	text-align: center;
	margin-top: 10px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
	text-decoration: none;
}

@media (min-width: 800px) {
	.container {
		display: flex;
	}

	.card__1 {
		border-radius: 10px 0 0 10px;
	}

	.card__3 {
		border-radius: 0 10px 10px 0;
	}

	.card__paragraph {
		margin-right: 17%;
		margin-bottom: 26%;
	}
}
