:root {
  --primary-crl--orange: hsl(31, 77%, 52%);
  --primary-crl--cyan: hsl(184, 100%, 22%);
  --primary-crl--dark-cyan: hsl(179, 100%, 13%);

  --neutral-crl--white: hsla(0, 0%, 100%, 0.75);
  --neutral-crl--light-gray: hsl(0, 0%, 95%);

  --ff-primary: "Lexend Deca", sans-serif;
  --ff-secondary: "Big Shoulders Display", cursive;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  background-color: var(--neutral-crl--light-gray);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.card {
  max-width: 327px;
  padding: 48px 49px;
}

.card__img {
  margin-bottom: 35px;
}

.card__start {
  background-color: var(--primary-crl--orange);
  border-radius: 8px 8px 0 0;
}

.card__middle {
  background-color: var(--primary-crl--cyan);
}

.card__end {
  background-color: var(--primary-crl--dark-cyan);
  border-radius: 0 0 8px 8px;
}

.card__header {
  font-family: var(--ff-secondary);
  font-size: 40px;
  font-weight: 700;
  color: var(--neutral-crl--light-gray);
}

.card__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.card__paragraph {
  font-family: var(--ff-primary);
  color: #fff;
  font-weight: 400;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  background-color: var(--neutral-crl--light-gray);
  font-family: var(--ff-primary);
  text-decoration: none;
  padding: 11px 32px;
  border-radius: 25px;
}

.btn__start {
  color: var(--primary-crl--orange);
}

.btn__middle {
  color: var(--primary-crl--cyan);
}

.btn__end {
  color: var(--primary-crl--dark-cyan);
}

/* *,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

body {
	font-size: 15px;
	background-color: var(--neutral-crl--light-gray);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container {
	padding-top: 7%;
	margin: 0 auto;
}

.card__1 {
	background-color: var(--primary-crl--orange);
	border-radius: 10px 10px 0 0;
}

.card__2 {
	background-color: var(--primary-crl--cyan);
}

.card__3 {
	background-color: var(--primary-crl--dark-cyan);
	border-radius: 0 0 10px 10px;
}

.card__header {
	color: var(--neutral-crl--light-gray);
	font-size: 2.6em;
	font-family: var(--ff-secondary);
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 15% 10%;
}

.card__paragraph {
	color: var(--neutral-crl--white);
	line-height: 1.6;
	font-family: var(--ff-primary);
	font-weight: 400;
	margin: 0 9% 7% 15%;
}

.card {
	width: 100%;
	max-width: 310px;
	display: flex;
	flex-direction: column;
}

.card__img {
	width: 19%;
	margin: 14% 15% 7%;
}


.btn {
	background-color: var(--neutral-crl--light-gray);
	display: inline-block;
	width: 40%;
	text-decoration: none;
	text-align: center;
	padding: 1em 0.5em;
	border-radius: 100px;
	margin: auto 0 15% 15%;
}

.sedan__btn {
	color: var(--primary-crl--orange);
}

.suv__btn {
	color: var(--primary-crl--cyan);
}

.luxury__btn {
	color: var(--primary-crl--dark-cyan);
}

.btn:hover,
.btn:focus {
	background-color: transparent;
	border: 2px solid #fff;
	color: var(--neutral-crl--light-gray);
	transition: background-color 400ms ease-in-out;
}



.attribution {
	font-size: 0.7333333333333333rem;
	text-align: center;
	margin-top: 10px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
	text-decoration: none;
}

@media (min-width: 800px) {
	.container {
		display: flex;
	}

	.card__1 {
		border-radius: 10px 0 0 10px;
	}

	.card__3 {
		border-radius: 0 10px 10px 0;
	}

	.card__paragraph {
		margin-right: 17%;
		margin-bottom: 26%;
	}
} */
