:root {
	--primary-crl--orange: hsl(31, 77%, 52%);
	--primary-crl--cyan: hsl(184, 100%, 22%);
	--primary-crl--dark-cyan: hsl(179, 100%, 13%);

	--neutral-crl--white: hsla(0, 0%, 100%, 0.75);
	--neutral-crl--light-gray: hsl(0, 0%, 95%);

	--ff-primary: 'Lexend Deca', sans-serif;
	--ff-secondary: 'Big Shoulders Display', cursive;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

img {
	width: 100%;
}

body {
	font-size: 0.9375rem;
	background-color: var(--neutral-crl--light-gray);
}

.sedan__btn {
	display: inline-block;
	color: var(--primary-crl--orange);
	background-color: var(--neutral-crl--light-gray);
	text-decoration: none;
	padding: .75em 2em;
	border-radius: 100px;
}

.suv__btn {
	display: inline-block;
	color: var(--primary-crl--cyan);
	background-color: var(--neutral-crl--light-gray);
	text-decoration: none;
	padding: .75em 2em;
	border-radius: 100px;
}

.luxury__btn {
	display: inline-block;
	color: var(--primary-crl--dark-cyan);
	background-color: var(--neutral-crl--light-gray);
	text-decoration: none;
	padding: .75em 2em;
	border-radius: 100px;
}

.sedan__header,
.suv__header,
.luxury__header {
	color: var(--neutral-crl--light-gray);
	font-family: var(--ff-secondary);
	text-transform: uppercase;
	font-size: 2.5rem;
	margin-bottom: 0.6em;
}

.sedan__paragraph,
.suv__paragraph,
.luxury__paragraph {
	color: var(--neutral-crl--white);
	font-family: var(--ff-primary);
	line-height: 1.5;
	width: 100%;
	margin-bottom: 1.5em;
}

.attribution {
	margin-top: 1em;
	font-size: 0.7333333333333333rem;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
	text-decoration: none;
}

.container {
	width: 80%;
	margin: 0 auto;
	max-width: 375px;
}

.main {
	margin-top: 3em;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex__body {
	display: flex;
	flex-direction: column;
}

.sedan {
	width: 85%;
	max-width: 375px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: var(--primary-crl--orange);
	padding: 3em 1em;
}

.suv {
	width: 85%;
	max-width: 375px;
	background-color: var(--primary-crl--cyan);
	padding: 3em 1em;
}

.luxury {
	width: 85%;
	max-width: 375px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: var(--primary-crl--dark-cyan);
	padding: 3em 1em;
}

.sedan__img,
.suv__img,
.luxury__img {
	width: 28%;
	margin-bottom: 1.8em;
}

.sedan__btn:hover,
.sedan__btn:focus {
	background-color: var(--primary-crl--orange);
	color: var(--neutral-crl--light-gray);
	border: 2px solid var(--neutral-crl--light-gray);
	transition: background-color 400ms ease-in-out;
}

.suv__btn:hover,
.suv__btn:focus {
	background-color: var(--primary-crl--cyan);
	color: var(--neutral-crl--light-gray);
	border: 2px solid var(--neutral-crl--light-gray);
	transition: background-color 400ms ease-in-out;
}

.luxury__btn:hover,
.luxury__btn:focus {
	background-color: var(--primary-crl--dark-cyan);
	color: var(--neutral-crl--light-gray);
	border: 2px solid var(--neutral-crl--light-gray);
	transition: background-color 400ms ease-in-out;
}

@media (min-width: 800px) {
	.flex {
		flex-direction: row;
	}

	.main {
		margin-top: 6em;
	}

	.sedan {
		width: 22%;
		min-width: 230px;
		height: 480px;
		border-top-right-radius: 0;
		border-bottom-left-radius: 10px;
		position: relative;
	}

	.suv {
		width: 22%;
		min-width: 230px;
		height: 480px;
		position: relative;
	}

	.luxury {
		width: 22%;
		min-width: 230px;
		height: 480px;
		border-bottom-left-radius: 0;
		border-top-right-radius: 10px;
		position: relative;
	}

	.sedan__paragraph {
		max-width: 89%;
		margin: 0;
		line-height: 1.7;
	}

	.suv__paragraph {
		max-width: 93%;
		margin: 0;
		line-height: 1.7;
	}

	.luxury__paragraph {
		max-width: 93%;
		margin: 0;
		line-height: 1.7;
	}

	.sedan__btn {
		position: absolute;
		bottom: 9%;
	}

	.suv__btn {
		position: absolute;
		bottom: 9%;
	}

	.luxury__btn {
		position: absolute;
		bottom: 9%;
	}
}
